/**********************GENERAL************************/

body {
	font-family: corbel;
	margin: 0px;
}

/***********************HEADER****************************/

#header {
	background-color: greenyellow;
}

h1 {
	margin: 0;
	text-align: center;
	padding-top: 15px;
}

h2 {
	margin: 0;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

#nav {
	text-align: center;
}

#nav li {
	list-style-type: none;
	padding: 3px 3px 0px 3px;
	display: inline-block;
	text-transform: uppercase;
}

#nav li:hover {
	background-color: yellow;
}

h3 {
	font-size: 35px;
}

/***********************CONTENT***************************/
 
 #content {
 	background-color: white;
  }

  p {
  	font-size: 20px;
  }

  h4 {
  	font-size: 30px;
  }